/*    font colors    */
/*    background colors    */
body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #5d6981;
  background-color: #edeff1;
  line-height: 1.7em;
  text-align: center; }

a {
  color: #00aff0; }

ul, li {
  list-style: none; }

.macbook {
  background: url("../images/macbook.png") no-repeat;
  padding: 50px 0 300px 0; }

.macbook > video {
  text-align: center; }

.creativity {
  background: url("../images/fotolia_92120007_subscription_monthly_m.jpg") no-repeat; }
  .creativity p > a.btn {
    margin-top: 355px;
    margin-bottom: 195px;
    width: 240px;
    height: 60px;
    background-color: #0149a1;
    border-radius: 30px;
    box-shadow: 0 0 133.6px 27.4px white; }

textarea, button {
  border-radius: 30px; }

footer, .work {
  background-color: #0149a1;
  color: white; }

/*   mixin   */
.carousel {
  text-align: center;
  margin: 150px 0 150px 0; }

.navbar {
  width: 90%;
  margin: auto;
  border-left: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
  min-height: 60px;
  background: #ffffff;
  margin-bottom: 30px; }

ul {
  list-style-type: none;
  display: inline-block; }

img {
  margin-top: 10px; }

footer {
  background-color: #0149a1; }

footer ul {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 36px; }

footer p {
  color: white;
  font-family: ProximaNova;
  font-size: 18px;
  line-height: 24px;
  /* Text style for "Cum sociis nat" */
  font-weight: 300;
  /* Text style for "symu.co" */
  font-weight: 700; }
