/*    font colors    */
$layout-font-size: 14px;
$layout-font-family: "Roboto", sans-serif;
$layout-font-color: #5d6981;

/*    background colors    */

$primary-color: #00aff0;
$secondary-color: #fff000;
